@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Us</h2>
<h3>Developers</h3>
<table class="table-bordered table">
    <tr>
        <th>Name</th>
        <th>Branch</th>
    </tr>
    <tr>
        <td>
            Akshay Methaniya
        </td>
        <td>
                CE
        </td>
    </tr>
    <tr>
        <td>
            Ravi Pandya
        </td>
        <td>
            CE
        </td>
    </tr>
    <tr>
        <td>
            Meet Mehta
        </td>
        <td>
            CE
        </td>
    </tr>
</table>
